<h1>Sign In</h1>

<% if flash[:error].present? %>
  <p><%= flash[:error] %></p>
<% end %>

<%= form_tag '/signin' do %>
  <%= label :user, :name %>
  <%= text_field :user, :name %>
  <br>
  <%= label :user, :password %>
  <%= password_field :user, :password %>
  <br>
  <%= submit_tag "Sign In" %>
<% end %>
