<% if @current_user.blank? %>
  <%= link_to "Sign In", signin_path %>
  <%= link_to "Sign Up", signup_path do %>
<% else %>
  <span>Hello, <%= "ADMIN" if is_admin?(@current_user) %> <%= link_to @current_user.name, user_path(@current_user) %>!</span>
  <%= link_to "See attractions", attractions_path %>
  <%= link_to "Log Out", signout_path, method: :delete %>
<% end %>